In [1]:
import requests
import pandas as pd
import sqlalchemy

In [2]:
organic_dairy_cows_eu_prel = pd.read_csv('organic_dairy_cows_eu.csv', header=[1], skiprows=[0], delimiter=';')

In [3]:
organic_dairy_cows_eu_prel.head(15)

,Last updated:,13/02/2024 11:00,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Time frequency,NaN,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Live animals,NaN,Dairy cows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Unit of measure,NaN,Head (animal),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,TIME,2012,NaN,2013,NaN,2014,NaN,2015,NaN,2016,...,2018,NaN,2019,NaN,2020,NaN,2021,NaN,2022,NaN
6,GEO (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"European Union (EU6-1958, EU9-1973, EU10-1981,...",:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
8,European Union - 27 countries (from 2020),:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
9,European Union - 28 countries (2013-2020),:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
10,Belgium,13.049,NaN,12.279,NaN,12.955,NaN,13.146,NaN,16.551,...,21.520,NaN,22.449,NaN,24.308,NaN,24.646,NaN,:,NaN
11,Bulgaria,328,NaN,535,NaN,789,NaN,1.777,NaN,2.906,...,2.405,NaN,3.033,NaN,2.689,NaN,2.703,NaN,2.946,NaN
12,Czechia,7.080,NaN,7.047,NaN,7.402,NaN,7.370,NaN,6.913,...,7.125,NaN,7.247,NaN,7.292,NaN,7.276,NaN,6.919,NaN
13,Denmark,65.057,NaN,62.787,NaN,63.261,NaN,55.788,NaN,58.129,...,78.972,NaN,78.163,NaN,78.796,NaN,81.633,NaN,80.271,NaN
14,Germany,133.095,NaN,141.800,NaN,148.500,NaN,150.283,NaN,175.583,...,195.750,NaN,226.912,NaN,226.604,NaN,240.630,e,260.543,e

In [4]:
# Drop the first nine rows and last six rows
organic_dairy_cows_eu_prel = organic_dairy_cows_eu_prel.iloc[10:-6]

In [5]:
# Reset the index
organic_dairy_cows_eu_prel.reset_index(drop=True, inplace=True)

In [6]:
# Replace 'e' and 'p' values with NaN
organic_dairy_cows_eu_prel.replace(['e', 'p'], pd.NA, inplace=True)

In [7]:
# Drop columns with all NaN values
organic_dairy_cows_eu_prel = organic_dairy_cows_eu_prel.dropna(axis=1, how='all')

In [8]:
organic_dairy_cows_eu_prel.head(5)

,Last updated:,13/02/2024 11:00,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,Unnamed: 19,Unnamed: 21
0,Belgium,13.049,12.279,12.955,13.146,16.551,20.101,21.520,22.449,24.308,24.646,:
1,Bulgaria,328,535,789,1.777,2.906,2.955,2.405,3.033,2.689,2.703,2.946
2,Czechia,7.080,7.047,7.402,7.370,6.913,6.686,7.125,7.247,7.292,7.276,6.919
3,Denmark,65.057,62.787,63.261,55.788,58.129,70.993,78.972,78.163,78.796,81.633,80.271
4,Germany,133.095,141.800,148.500,150.283,175.583,203.958,195.750,226.912,226.604,240.630,260.543

In [9]:
# Set the appropriate column names
columns = ['Country'] + [str(year) for year in range(2012, 2023)]
organic_dairy_cows_eu_prel.columns = columns

In [10]:
organic_dairy_cows_eu_prel

,Country,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Belgium,13.049,12.279,12.955,13.146,16.551,20.101,21.520,22.449,24.308,24.646,:
1,Bulgaria,328,535,789,1.777,2.906,2.955,2.405,3.033,2.689,2.703,2.946
2,Czechia,7.080,7.047,7.402,7.370,6.913,6.686,7.125,7.247,7.292,7.276,6.919
3,Denmark,65.057,62.787,63.261,55.788,58.129,70.993,78.972,78.163,78.796,81.633,80.271
4,Germany,133.095,141.800,148.500,150.283,175.583,203.958,195.750,226.912,226.604,240.630,260.543
5,Estonia,2.542,2.322,2.211,1.938,1.813,1.743,1.835,1.835,1.809,1.852,1.853
6,Ireland,1.737,1.945,1.900,2.163,2.912,2.560,4.752,5.408,3.823,4.656,4.632
7,Greece,3.790,3.492,3.160,4.000,3.990,12.044,14.351,16.956,18.734,21.101,:
8,Spain,4.310,3.303,4.045,4.556,7.086,8.394,8.661,10.413,11.387,12.954,11.597
9,France,95.429,121.443,140.097,113.608,120.112,128.386,145.649,159.578,168.937,190.894,:
10,Croatia,1.371,2.185,1.461,1.717,1.824,2.565,996,364,505,289,39
11,Italy,41.799,44.644,53.181,57.206,75.754,64.855,80.547,79.542,84.843,81.117,:
12,Cyprus,0,0,0,101,281,254,401,596,536,609,635
13,Latvia,11.132,12.125,19.772,17.971,19.420,19.101,18.517,18.117,17.603,16.463,:
14,Lithuania,8.623,9.970,9.561,9.363,9.516,14.706,14.439,14.153,13.764,13.542,13.431
15,Luxembourg,482,591,534,508,564,596,787,717,878,894,885
16,Hungary,2.277,2.288,2.157,2.744,3.339,3.272,1.169,1.200,767,1.532,1.585
17,Malta,0,0,0,0,0,0,0,0,0,0,:
18,Netherlands,22.930,24.462,24.701,25.385,28.368,31.883,37.180,37.902,40.041,41.631,:
19,Austria,94.591,95.873,96.829,95.361,106.735,115.080,115.424,115.371,116.441,117.137,120.722
20,Poland,20.015,18.841,13.164,11.106,11.866,11.377,10.983,10.983,12.061,12.143,:
21,Portugal,:,:,:,:,201,51,20,2,5.043,4.689,2.722
22,Romania,:,:,:,21.667,15.171,12.472,12.561,13.882,12.837,14.807,:
23,Slovenia,:,:,:,:,:,:,:,:,:,:,:
24,Slovakia,5.523,5.296,5.789,6.394,6.352,4.544,5.500,5.759,5.431,5.822,:
25,Finland,6.447,6.290,7.354,8.438,8.508,9.207,9.802,10.024,10.393,10.529,10.442
26,Sweden,47.610,48.193,46.902,47.652,49.062,52.908,58.702,56.744,57.187,57.298,54.329
27,Iceland,:,:,:,:,:,114,112,125,111,203,:
28,Norway,9.097,9.094,8.226,8.287,8.350,8.340,8.353,7.932,7.781,7.613,7.364
29,Switzerland,49.186,50.406,50.489,50.658,51.552,55.356,59.954,60.650,62.378,62.947,63.426
30,United Kingdom,72.013,70.135,75.440,76.638,81.368,77.059,88.344,89.839,:,:,:
31,Montenegro,:,:,:,:,10,18,22,57,43,50,56
32,North Macedonia,:,:,:,:,:,:,:,:,:,:,:
33,Serbia,:,0,:,2.182,2.164,2.004,1.298,1.233,1.514,:,:
34,Türkiye,:,31.760,5.530,3.505,3.127,2.383,1.908,:,:,7.905,:

In [11]:
# List of EU 27 countries
eu_27_countries = [
    'Belgium', 'Bulgaria', 'Czechia', 'Denmark', 'Germany', 'Estonia', 'Ireland', 
    'Greece', 'Spain', 'France', 'Croatia', 'Italy', 'Cyprus', 'Latvia', 'Lithuania', 
    'Luxembourg', 'Hungary', 'Malta', 'Netherlands', 'Austria', 'Poland', 'Portugal', 
    'Romania', 'Slovenia', 'Slovakia', 'Finland', 'Sweden'
]

In [12]:
# Filter the DataFrame to keep only EU 27 countries
organic_dairy_cows_eu_prel = organic_dairy_cows_eu_prel[organic_dairy_cows_eu_prel['Country'].isin(eu_27_countries)]

In [13]:
# Reset the index
organic_dairy_cows_eu_prel.reset_index(drop=True, inplace=True)

In [14]:
organic_dairy_cows_eu_prel

,Country,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Belgium,13.049,12.279,12.955,13.146,16.551,20.101,21.520,22.449,24.308,24.646,:
1,Bulgaria,328,535,789,1.777,2.906,2.955,2.405,3.033,2.689,2.703,2.946
2,Czechia,7.080,7.047,7.402,7.370,6.913,6.686,7.125,7.247,7.292,7.276,6.919
3,Denmark,65.057,62.787,63.261,55.788,58.129,70.993,78.972,78.163,78.796,81.633,80.271
4,Germany,133.095,141.800,148.500,150.283,175.583,203.958,195.750,226.912,226.604,240.630,260.543
5,Estonia,2.542,2.322,2.211,1.938,1.813,1.743,1.835,1.835,1.809,1.852,1.853
6,Ireland,1.737,1.945,1.900,2.163,2.912,2.560,4.752,5.408,3.823,4.656,4.632
7,Greece,3.790,3.492,3.160,4.000,3.990,12.044,14.351,16.956,18.734,21.101,:
8,Spain,4.310,3.303,4.045,4.556,7.086,8.394,8.661,10.413,11.387,12.954,11.597
9,France,95.429,121.443,140.097,113.608,120.112,128.386,145.649,159.578,168.937,190.894,:
10,Croatia,1.371,2.185,1.461,1.717,1.824,2.565,996,364,505,289,39
11,Italy,41.799,44.644,53.181,57.206,75.754,64.855,80.547,79.542,84.843,81.117,:
12,Cyprus,0,0,0,101,281,254,401,596,536,609,635
13,Latvia,11.132,12.125,19.772,17.971,19.420,19.101,18.517,18.117,17.603,16.463,:
14,Lithuania,8.623,9.970,9.561,9.363,9.516,14.706,14.439,14.153,13.764,13.542,13.431
15,Luxembourg,482,591,534,508,564,596,787,717,878,894,885
16,Hungary,2.277,2.288,2.157,2.744,3.339,3.272,1.169,1.200,767,1.532,1.585
17,Malta,0,0,0,0,0,0,0,0,0,0,:
18,Netherlands,22.930,24.462,24.701,25.385,28.368,31.883,37.180,37.902,40.041,41.631,:
19,Austria,94.591,95.873,96.829,95.361,106.735,115.080,115.424,115.371,116.441,117.137,120.722
20,Poland,20.015,18.841,13.164,11.106,11.866,11.377,10.983,10.983,12.061,12.143,:
21,Portugal,:,:,:,:,201,51,20,2,5.043,4.689,2.722
22,Romania,:,:,:,21.667,15.171,12.472,12.561,13.882,12.837,14.807,:
23,Slovenia,:,:,:,:,:,:,:,:,:,:,:
24,Slovakia,5.523,5.296,5.789,6.394,6.352,4.544,5.500,5.759,5.431,5.822,:
25,Finland,6.447,6.290,7.354,8.438,8.508,9.207,9.802,10.024,10.393,10.529,10.442
26,Sweden,47.610,48.193,46.902,47.652,49.062,52.908,58.702,56.744,57.187,57.298,54.329

In [15]:
# Filter the DataFrame to exclude rows with zero values for Malta and Slovenia
organic_dairy_cows_eu_prel = organic_dairy_cows_eu_prel[
    (organic_dairy_cows_eu_prel['Country'] != 'Malta') & 
    (organic_dairy_cows_eu_prel['Country'] != 'Slovenia')
]

In [16]:
# Reset the index
organic_dairy_cows_eu_prel.reset_index(drop=True, inplace=True)

In [17]:
organic_dairy_cows_eu_prel

,Country,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Belgium,13.049,12.279,12.955,13.146,16.551,20.101,21.520,22.449,24.308,24.646,:
1,Bulgaria,328,535,789,1.777,2.906,2.955,2.405,3.033,2.689,2.703,2.946
2,Czechia,7.080,7.047,7.402,7.370,6.913,6.686,7.125,7.247,7.292,7.276,6.919
3,Denmark,65.057,62.787,63.261,55.788,58.129,70.993,78.972,78.163,78.796,81.633,80.271
4,Germany,133.095,141.800,148.500,150.283,175.583,203.958,195.750,226.912,226.604,240.630,260.543
5,Estonia,2.542,2.322,2.211,1.938,1.813,1.743,1.835,1.835,1.809,1.852,1.853
6,Ireland,1.737,1.945,1.900,2.163,2.912,2.560,4.752,5.408,3.823,4.656,4.632
7,Greece,3.790,3.492,3.160,4.000,3.990,12.044,14.351,16.956,18.734,21.101,:
8,Spain,4.310,3.303,4.045,4.556,7.086,8.394,8.661,10.413,11.387,12.954,11.597
9,France,95.429,121.443,140.097,113.608,120.112,128.386,145.649,159.578,168.937,190.894,:
10,Croatia,1.371,2.185,1.461,1.717,1.824,2.565,996,364,505,289,39
11,Italy,41.799,44.644,53.181,57.206,75.754,64.855,80.547,79.542,84.843,81.117,:
12,Cyprus,0,0,0,101,281,254,401,596,536,609,635
13,Latvia,11.132,12.125,19.772,17.971,19.420,19.101,18.517,18.117,17.603,16.463,:
14,Lithuania,8.623,9.970,9.561,9.363,9.516,14.706,14.439,14.153,13.764,13.542,13.431
15,Luxembourg,482,591,534,508,564,596,787,717,878,894,885
16,Hungary,2.277,2.288,2.157,2.744,3.339,3.272,1.169,1.200,767,1.532,1.585
17,Netherlands,22.930,24.462,24.701,25.385,28.368,31.883,37.180,37.902,40.041,41.631,:
18,Austria,94.591,95.873,96.829,95.361,106.735,115.080,115.424,115.371,116.441,117.137,120.722
19,Poland,20.015,18.841,13.164,11.106,11.866,11.377,10.983,10.983,12.061,12.143,:
20,Portugal,:,:,:,:,201,51,20,2,5.043,4.689,2.722
21,Romania,:,:,:,21.667,15.171,12.472,12.561,13.882,12.837,14.807,:
22,Slovakia,5.523,5.296,5.789,6.394,6.352,4.544,5.500,5.759,5.431,5.822,:
23,Finland,6.447,6.290,7.354,8.438,8.508,9.207,9.802,10.024,10.393,10.529,10.442
24,Sweden,47.610,48.193,46.902,47.652,49.062,52.908,58.702,56.744,57.187,57.298,54.329

In [18]:
organic_dairy_cows_eu_25 =organic_dairy_cows_eu_prel

In [19]:
import sql_functions as sqlf

In [20]:
engine = sqlf.get_engine()

In [21]:
schema='capstone_organicfood'
table_name = 'organic_dairy_cows_eu_25'

In [22]:
import psycopg2

In [23]:
# Write records stored in the dataframe to SQL database:
if engine!=None:
    try:
        organic_dairy_cows_eu_25.to_sql(name=table_name, # name of SQL table variable
                        con=engine, # engine or connection
                        schema=schema, # our class schema variable
                        if_exists='replace', # Drop the table before inserting new values
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The organic_dairy_cows_eu_25 table was imported successfully.